@import "../../style/utility";
.general-social-container {
  @extend .container;
  width: 100%;
  gap: 1em;
  flex-direction: row;
  margin-bottom: 2em;
  .social-container {
    @extend .container;
    width: 55px;
    height: auto;
    object-fit: cover;
    .social-link {
      width: inherit;
      .social {
        width: inherit;
        padding: 0.5em;

        border-radius: 100%;
        border: 1px solid white;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .general-social-container {
    margin-bottom: 3em;
    .social-container {
      width: 40px;
      gap: 0.8em;
    }
  }
}
