@import "../../style/utility";
.footer-container {
  @extend .container;
  width: 100%;
  height: auto;
  border-top: $secondary-color solid 2px;
  // border-radius: 20px;
  padding: 0.5em 1em;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  place-items: center;
  gap: 0.8em;
  margin-bottom: 100px;
}
